.main-content {
  padding: 4.5rem;

  @media (max-width: 1000px) {
    padding: 2.5rem;
  }

  @media (max-width: 767px) {
    padding: 1.5rem;
  }

  @media (max-width: 374px) {
    padding: 1rem;
  }
}

.main-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}